<h3>Liste des dépenses</h3>

<div style="display: flex; justify-content: center;">
  <table>
    <thead>
      <tr>
        <th>Raison</th>
        <th>Date</th>
        <th>Montant</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @expenses.each do |expense| %>
        <tr>
          <td><%= expense[:reason] %></td>
          <td><%= expense[:date] %></td>
          <td><%= expense[:amount] %></td>
          <td>
            <%= form_with url: sea_table_path(expense[:id]), method: :delete, local: true do %>
              <%= submit_tag 'x', data: { confirm: 'Êtes-vous sûr de vouloir supprimer cette dépense ?' } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
