<!DOCTYPE html>
<html>
  <head>
    <title>SeatableTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="https://latex.vercel.app/style.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="abstract">
      <h1>SeaTable Integration</h1>
      <p>
        <%= link_to 'Index', sea_table_index_path %> /
        <%= link_to 'Ajouter', new_expense_sea_table_index_path %>
      </p>
      <%= yield %>
    </div>
  </body>
</html>
